<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <main>
        <candidato v-for="candidato in candidatos" :nombre="candidato.name.first" :correo="candidato.email" :imagen="candidato.picture.thumbnail" :location="candidato.location"></candidato>
        <pre>{{ $data }}</pre>
    </main>

    <template id="candidato-template">
        <blockquote>
            <img :src="imagen" align:right>
            <h2>{{ nombre }}</h2>
            <h3>{{ correo }}</h3>
            <ul>
                <li v-for="(value, key) in location">{{key}}: {{value}}</li>
            </ul>
            <hr>
        </blockquote>
    </template>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>